@charset "UTF-8";

@font-face {
    font-family: "idroid" ;
    src: url(fontes/idroid.otf);
}

:root{

    --cor0:#35E8B8;
    --cor1:#38F2C0;
    --cor2:#3DDC84;
    --cor3:#30e44e;
    --cor4:#4FE835;
    --cor5:#053118;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'idroid', cursive;
}

main > h1{
    font-family: var(--fonte-android);
    font-weight: lighter;
    color: rgb(4, 68, 4);
    
}

main h2{
    font-family: var(--fonte-android);
    font-weight: lighter;
    font-size: 1.3em;
    color: rgb(3, 52, 3);
    background-image: linear-gradient(to right, var(--cor2), transparent );
    padding-left: 8px;
}

header > h1{
    font-family:var(--fonte-destaque);
    font-weight: lighter;
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.267);
    font-size: 3em;
}

header{
    background-image: linear-gradient(to bottom,var(--cor3), var(--cor5));
    padding-top: 40px;
    min-height: 150px;
    
}

header > p{
    font-family: var(--fonte-padrao);
    color: white;
    margin: auto;
    text-align: center;
    max-width: 550px;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 1.2em;
    text-shadow: 2px 2px 0px rgb(0, 0, 0, 0.315);
}

body{
    background-color: #c5ebd6;
    margin: 0px 0px 0px 0px
}

main p{
    font-family: var(--fonte-padrao);
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
  
    
}

main{
    background-color: white;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0.418);
    min-width: 300px;
    max-width: 1000px;
    border-radius: 0px 0px 8px 8px;
}

nav > a{
    text-decoration: none;
    color: rgb(197, 253, 159);
    padding: 10px;
    font-weight: bold;

    


}

nav > a:hover{
    color:var(--cor5);
    background-color: var(--cor3);
    border-radius: 5px;
    transition-duration: .5s;

}

main img{
    display: block;
    margin: auto;
  
}

main img.small{
    max-width: 350px;
    width: 100%;
    display: block;
    margin: auto;
}


nav{

    box-shadow: 0px 7px 9px rgb(0, 0, 0, 0.363);
    font-family: var(--fonte-padrao);
    padding: 10px;
    background-color: #05311827;
}


aside{
    background-color:var(--cor0);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.281);
}

aside > ul{
    list-style-type: '\2714\00A0';
    list-style-position: inside;
    columns: 2;
}

aside h3{
    background-color:  rgba(102, 206, 102, 0.739);;
    padding: 10px;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    margin: -10px -10px 0px -10px;
}


aside p{
    padding-left:7px ;
    padding-right: 7px;
}

footer{
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
    font-family: var(--fonte-padrao);
}

footer > a{
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer > a:hover{
    text-decoration: underline;
    color: var(--cor1);
}

main strong {
    color: #053118;
}

main a{
    text-decoration: none;
    color: #1a5c37;
    font-weight: bold;
    background-color:#64f1a3;
    padding: 2px 6px
}

main a:hover{
    text-decoration: underline;
    color:#259857;

}

main .externo::after{
    content: '\00A0\1F517';

}

iframe{
    display: block;
    margin: auto;
    margin-bottom: 30px;
    width: 75%;
    
    
}

.video{

    background-color: var(--cor5);
    margin: 0px -20px;
    

}

